**/.terraform
**/*.tfstate
**/*.tfplan
.DS_Store
**/terraform.tfstate.d
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/*.lock.hcl
**/~*.*
**/*.log
**/backend.azurerm.tf
public
**/.terraform.lock.hcl
**/*.backup
landingzones